# Python cache files
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Virtual environment directories
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE configuration
.vscode/
.idea/

# Streamlit specific
.streamlit/
