ollama
streamlit==1.20.0
PyPDF2==3.0.1
langchain==0.0.1
langchain-community==0.0.1
chromadb==0.2.0
chromadb
streamlit 
pdfplumber 
langchain
langchain-core
langchain-community
langchain_text_splitters
unstructured
unstructured[all-docs]
