ollama
PyPDF2==3.0.1
streamlit==1.20.0
langchain==0.2.32
langchain-community==0.2.12
langchain-text-splitters==0.2.2
pdfplumber==0.11.3
unstructured==0.15.3
chromadb
streamlit 
pdfplumber 
langchain
langchain-core
langchain-community
langchain_text_splitters
unstructured
unstructured[all-docs]
